*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
h1 a{
    text-decoration: none;
    color: black;
}

a:hover,
h1 a:hover {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}
a img {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    margin-bottom: 7px;
    object-fit: cover;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    display: table;
}

main {
    padding: 0px 60px;
}
header
{
    width: 100%;
    position: sticky;
}
.container {
    display: flex;    
    max-height: 50px;
    margin-bottom:15px;
    min-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: inherit;
    justify-content: space-around;
    position: relative;
    align-items: center;
    padding: 5px;
}

header .logo h1 {
    margin-left: 30px;    
    font-weight: lighter;
    font-size: 25px;
    position: relative;
    right: 70%;
    cursor: pointer;
}

nav ul li
{
    font-size: 1.5em;    
    display: inline-block;
    padding: 0px 15px;
    cursor: pointer;
}

nav ul li a{
    color: black;
}
nav ul li:hover
{
    color: cornflowerblue;
    transition-duration: 0.3s;
}

section.profile-section {
    width: 100%;
    height: 270px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    justify-content: center;
    width: 100%;
    height:150px;
    background-color : inherit;
}

.profile-image-default {
    background: url("images/icon_group.png") no-repeat;    
    background-size: 100%;
    width: 150px;
    height: 100%;
    flex-basis: 1;
    background-color: inherit;
    border-radius: 50%;
    margin-left: 100px;
 }

 .profile-image {
    background-size: 100%;
    width: 150px;
    height: 100%;
    flex-basis: 1;
    border: 0.2px solid black;
    border-radius: 50%;
    margin-left: 100px;
 }

 .profile-image img {
     object-fit: cover;
     width: 100%;
     height:100%;
     border-radius: 50%;
 }

.profile-info {
    flex-basis: 50%;
    background-color: inherit;
    display: flex;
    flex-direction: column;   
}

.profile .profile-info {
    margin: 0px 50px 0px 70px;
}

.profile-user-name h1{
    font-size: 30px;    
    font-weight: 200;
}

.profile-stats{
    position: relative ;
    margin-left: -15px;
}

.profile-stats ul li
{
    display: inline-block;
    padding: 15px;
}

.grid 
{
    display: grid;
    grid-template-rows: 50px repeat(1, 300px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 1em;
}

.grid .grid-header
{
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
}
.grid-header-item
{
    display: flex;   
    cursor: pointer;
    opacity: 0.8;
    padding: 10px;  
}

.grid-header-item:hover, 
.grid-header-item:focus
{
    opacity: 1;
}

.grid-header h3
{
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 1em;
    padding: 4px;
}
.grid-header i{
    font-size: 1em;    
    padding: 2px;
}
.grid .grid-item
{
    border: 1px solid #ffffff;
    background-color: cornsilk;
    }
    .grid .grid-item img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }

.empty {
    position: relative;
    left: 21em;
    text-align: center;
}    
 .empty-text {
     font-weight: 200;
 }  
 .empty-img
 {
     background: url('images/animation-cool.gif');
     background-size: 100%;
     width : 100%;
     height: 100%;
 }

footer{
    border-top: 1px solid rgba(0, 0, 0, 0.313);
    height: 50px;
    margin-top: 50px;
    position: relative;
}
.copyright {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-weight:100;
    font-size: small;
}

.bi-pencil {
    font-size: 0.8em;
}