{% load static %}
<!DOCTYPE html>
<html>
{% block head %}		
<head>
    <title> Profile </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="{% static 'dgallery/css/font/bootstrap-icons.css' %}">
	<link rel="stylesheet" href="{% static 'dgallery/css/profilepagestyle.css' %}">
	<link rel="stylesheet" href="{% static 'dgallery/css/gen.css' %}">
	<link rel="stylesheet" href="{% static 'dgallery/css/bootstrap.min.css' %}">
</head>
{% endblock %}
<body>	
	{% if "messages" %}	
		<div class="messages">
		<ul>
			{% for message in messages %}
			<li {% if message.tags %} class="alert {{message.tags}} alert-dismissible fade show" {% endif %} role="alert">
				{{ message }}	
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
			</li>
			{% endfor %}
		</ul>
		</div>
	{% endif %}
	<header>
	<div class="container">
		<div class="logo" tabindex="0">
			<h1><a href="{% url 'dgallery:homepage' %}">d'gallery</a></h1>
		</div>
		<nav>
			<ul>
				<li title="home"><a href="{% url 'dgallery:homepage' %}"><i class="bi-house"></i></a></li>
				<li title="add post"><a href="{% url 'dgallery:imageform' %}"><i class="bi-plus-square-fill"></i></a></li>
				{% for obj in profileinfo %}
				<li title="logout"><a href="{% url 'dgallery:logout' %}"><img src="{{ obj.profileimage.url }}"></a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>	
	</header>
	<main>
	<section class="profile-section">
		<div class="profile">
				{% if profileinfo %}
				{% for obj in profileinfo %}
				<div class="profile-image"  tabindex="0">
					<a href="{% url 'dgallery:profileimage' %}"><img src="{{ obj.profileimage.url }}"></a>
				</div>
				{% endfor %}
				{% else %}
				<a href="{% url 'dgallery:profileimage' %}"><div class="profile-image-default"> </div></a>
				{% endif %}	
			<div class="profile-info">
				<div class="profile-user-name" title="username">
						<h1>{{ username }}</h1>
				</div>
				<div class="profile-stats" title="stats">
					<ul>
						{% if posts %}
							<li>{{ posts }}</li>
						{% else %}
							<li>0 posts</li>
						{% endif %}
						<li>623 followers</li>
						<li>170 following</li>
					</ul>	
				</div>
				<div class="profile-bio" title="bio">
				{% if profileinfo %}
					{% for obj in profileinfo %}
						{% if obj.bio %}
						{{ obj.bio }}
						{% endif %}
					{% endfor %}
				{% else %}
					Fullstack Developer @ Holberton Schools.
				{% endif %}
				<a href="{% url 'dgallery:bio' %}"> <i class="bi-pencil"></i></a>
				</div>
			</div>
		</div>
		<!-- End of profile section -->
		<!-- End of container -->
	</section>
	{% block section %}
	{% endblock %}
	<section>
	<div class="grid">
		<div class="grid-header">
		<div class="grid-header-item" tabindex="0">
			<i class="bi-grid-3x3-gap"></i>
			<h3> Posts </h3>
		</div>
		</div>
		{% if image_objects %}
		{% for obj in image_objects %}
		<div class="grid-item">
			<img class="grid-item" src="{{ obj.image.url }}" alt=" " >		
		</div>
		{% endfor %}
		{% else %}
		<div class="empty">
			<p class="empty-text"> You have no posts yet. </p>
			<div class="empty-img"></div>
		</div>
		{% endif %}
	</div>
	</section>
</main>
<footer>
	<div class="copyright" title="copyright">
		<p>&copy; IG_clone</p>
	</div>
</footer>
</body>
<script src="{% static 'dgallery/js/jquery.min.js' %}"></script>
<script src="{% static 'dgallery/js/popper.js' %}"></script>
<script src="{% static 'dgallery/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dgallery/js/main.js' %}"></script>
</html>