<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
      	<title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="{% static 'dgallery/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'dgallery/css/bootstrap.min.css' %}">
    </head>
	<body>
	    <section class="ftco-section">
		    <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">D'Gallery</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="img"></div>
                            <div class="login-wrap p-4 p-md-5">
			      	            <div class="d-flex">
			      		            <div class="w-100">
			      			            <h3 class="mb-4">Register</h3>
			      		            </div>
							    	<div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>
                                    </div>
			      	            </div>
					            <form method="POST" action="#" class="signin-form">
                                    {% csrf_token %}

                                    {{ form.non_field_errors }}
                                                                        
                                    <div class="form-group mb-3">
                                        {{ form.username.errors }}    
                                        <label class="label" for="{{form.username.id_for_label}}">Username</label>
                                        <div class="form-control">{{ form.username }}</div>        
                                    </div>
                                    <div class="form-group mb-3">
                                        {{ form.email.errors }}        
                                        <label class="label" for="{{ form.email.id_for_email}}">Email</label>
                                        <div class="form-control">{{ form.email }}</div>
                                    </div>  
                                    <div class="form-group mb-3">
                                        {{ form.password1.errors }}        
                                        <label class="label" for="{{ form.password1.id_for_password1 }}">password</label>
                                        <div class="form-control">{{ form.password1 }}</div>
                                    </div>
                                    <div class="form-group mb-3">
                                        {{ form.password2.errors }}        
                                        <label class="label" for="{{ form.password2.id_for_password2 }}">confirm password</label>
                                        <div class="form-control">{{ form.password2 }}</div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button>
                                    </div>
                                    <div class="form-group d-md-flex">
                                        <div class="w-50 text-left form-check">
                                            <input class="checkbox-primary mb-0 form-check-input" type="checkbox" id="remcheck"checked>			  	
                                            <label for="remcheck" class="form-check-label">Remember Me</label>
                                        </div>
                                        <div class="w-50 text-md-right">
                                            <a href="#">Forgot Password</a>
                                        </div>
                                    </div>
		                        </form>
		          <p class="text-center">Already have an account?<a href="{% url 'dgallery:login' %}">  Login</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'dgallery/js/jquery.min.js' %}"></script>
  <script src="{% static 'dgallery/js/popper.js' %}"></script>
  <script src="{% static 'dgallery/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dgallery/js/main.js' %}"></script>

	</body>
</html>

